:host {

  ul {
    font: {
      size: 0;
    }
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 1rem;
      padding: 5px 25px;
      text-align: center;
    }
  }

}
