<pre>{{ patient | json }}</pre>

<ul class="tabs">
    <li>
        <a [routerLink]="['patients', patient.id, 'fiche']"
           [routerLinkActive]="'active'"
           (click)="selectPart($event, PATIENTPART.FICHE)">
            Fiche
        </a>
    </li>
    <li>
        <a [routerLink]="['patients', patient.id, 'journal']"
           [routerLinkActive]="'active'"
           (click)="selectPart($event, PATIENTPART.JOURNAL)">
            Journal
        </a>
    </li>
</ul>

<e1-fiche [hidden]="selectedPatientPart !== PATIENTPART.FICHE"></e1-fiche>
<e1-journal [hidden]="selectedPatientPart !== PATIENTPART.JOURNAL"></e1-journal>


