<pre>{{ item | json }}</pre>

<ul class="tabs">
    <li>
        <a [routerLink]="['a', 'item', item.id, 'one']"
           [routerLinkActive]="'active'"
           (click)="selectPart($event, ITEMPART.PARTONE)">
            Sub One
        </a>
    </li>
    <li>
        <a [routerLink]="['a', 'item', item.id, 'two']"
           [routerLinkActive]="'active'"
           (click)="selectPart($event, ITEMPART.PARTTWO)">
            Sub Two
        </a>
    </li>
</ul>

<e1-one [hidden]="selectedItemPart !== ITEMPART.PARTONE"></e1-one>
<e1-two [hidden]="selectedItemPart !== ITEMPART.PARTTWO"></e1-two>


