<h1>Example one</h1>

<hr/>

<div class="wrapper">
    <div class="left">

        <ul>
            <li>
                <a [routerLink]="'a'"
                   [routerLinkActive]="'active'"
                   (click)="selectModule($event, MODULE.A)">
                    Navigate to A
                </a>
            </li>
            <li>
                <a [routerLink]="'b'"
                   [routerLinkActive]="'active'"
                   (click)="selectModule($event, MODULE.B)">
                    Navigate to B
                </a>
            </li>
        </ul>

    </div>
    <div class="right">

        <!--
        We keep this one here, because we want to show the list of items always,
        and everywhere in the application
        -->

        <e1-item-list></e1-item-list>

        <hr/>

        <e1-a [hidden]="(selectedModule$ | async) !== MODULE.A"></e1-a>

        <!--
        The router remains as it handles the reactiveness
        Note: it has no content and all routes have the dummy component
        -->

        <router-outlet [hidden]="(selectedModule$ | async) !== MODULE.B"></router-outlet>

    </div>
</div>

<hr/>

<h5>Legend</h5>
<p>
    <span class="active">Green means active route</span><br/>
    <span class="inactive">Blue means inactive route</span><br/>
    <span class="warning">Orange means warning</span><br/>
    <span class="error">Red means error</span>
</p>
