<h1>Example one</h1>

<hr/>

<div class="wrapper">
    <div class="left">

        <ul>
            <li>
                <a [routerLink]="'patients'"
                   [routerLinkActive]="'active'"
                   (click)="selectModule($event, MODULE.PATIENTS)">
                    Navigate to Patients
                </a>
            </li>
            <li>
                <a [routerLink]="'calendar'"
                   [routerLinkActive]="'active'"
                   (click)="selectModule($event, MODULE.CALENDAR)">
                    Navigate to Calendar
                </a>
            </li>
        </ul>

    </div>
    <div class="right">

        <!--
        We keep this one here, because we want to show the list of patients always,
        and everywhere in the application
        -->

        <e1-patients-list></e1-patients-list>

        <hr/>

        <e1-patients [hidden]="(selectedModule$ | async) !== MODULE.PATIENTS"></e1-patients>

        <!--
        The router remains as it handles the reactiveness
        Note: it has no content and all routes have the dummy component
        -->

        <router-outlet [hidden]="(selectedModule$ | async) !== MODULE.PATIENTS"></router-outlet>

    </div>
</div>

<hr/>

<h5>Legend</h5>
<p>
    <span class="active">Green means active route</span><br/>
    <span class="inactive">Blue means inactive route</span><br/>
    <span class="warning">Orange means warning</span><br/>
    <span class="error">Red means error</span>
</p>
